
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


thead tr {
  background: -webkit-radial-gradient(#f8f8f8, rgb(226, 177, 202));
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#small{
  display: none;
}

@media (max-width: 1000px) {
  #big{
    display: none;
  }

  #small{
    display: inline-grid;
  }

  table {
    border: 0;
  }

  table thead {
    display: none;
      }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  tr th{
    display: inline-block;
  }
  /*  attr(data-lable) inserts a specified attribute's (data lable -> heders) value before the selected element  */
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

