
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


thead tr {
  background: -webkit-radial-gradient(#f8f8f8, #a092c7);
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  color: #512253;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#small{
  display: none;
}

@media (max-width: 1000px) {
  #big-table{
    display: none;
  }

  #small-table{
    display: grid;
    max-height: 555px;
    overflow-y: scroll;
    margin: 20px 0;
  }

  table {
    border: 0;
  }

  table thead {
    display: none;
      }
  
  table tr {
    border-bottom: 3px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 2px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  
  tr th{
    display: inline-block;
  }
  /*  attr(data-lable) inserts a specified attribute's (data lable -> heders) value before the selected element  */
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

